In [1]:
# 41
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [3]:
#42
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [1]:
#43
a = "hello" 
a = a.capitalize()

In [3]:
#44
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [6]:
#45 endswith 메서드 문자열로 끝나는지 확인 True or False 
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [7]:
#46 startswith 메서드 
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
#47_splt메서드 
a="hello world"
a.split()

In [8]:
#48 split메서드:문자열을 분리
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [10]:
#49.split
date="2020-05-01"
date.split("-")

['2020', '05', '01']

In [ ]:
#50 rstrip:오른쪽 공백이 제거된 새로운 문자열 객체가 반환됨
data = "039490     "
data = data.rstrip()

In [11]:
#51 리스트 생성 
movie_rank=["닥터 스트레인지","스플릿","럭키"]

In [12]:
#52 "배트맨"추가
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#53`insert(인덱스, 원소)`
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

In [ ]:
#54_movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

In [8]:
#55_movie_rank 
movie_rank = ['닥터 스트레인지','슈퍼맨','스플릿','배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [9]:
#56 
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs_list=[lang1,lang2]
print(langs_list)

[['C', 'C++', 'JAVA'], ['Python', 'Go', 'C#']]

In [18]:
#57 최댓값과 최소값 
nums = [1, 2, 3, 4, 5, 6, 7]
#print = ("max:",max(nums))
#print=("min:",min(nums))

TypeError: 'list' object is not callable

In [19]:
#58 리스트의 합 
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [23]:
#59 데이터 개수 출력 
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [27]:
#60 리스트 평균 
nums = [1,2,3,4,5]
average = sum(nums)/ len(nums)
print(average)

3.0

In [30]:
#61 가격 정보만을 출력.슬라이싱
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [33]:
#62 홀수
nums=[1,2,3,4,5,6,7,8,9,10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [38]:
#63 짝수,슬라이싱
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [43]:
#64 역방향 출력 
nums=[1,2,3,4,5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [52]:
#65 바인딩 
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [55]:
#66 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [56]:
#67 joing메서드 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/ ".join(interest))

삼성전자/ LG전자/ Naver/ SK하이닉스/ 미래에셋대우

In [58]:
#068 join 메서드 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n ".join(interest))

삼성전자
 LG전자
 Naver
 SK하이닉스
 미래에셋대우

In [70]:
#69 문자열 split
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [72]:
#70 
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
#101 true 혹은 false 를 갖는 데이터타입은? 'bool'타입

In [1]:
#102 
print(3 == 5)

False

In [2]:
#103 
print(3<5)

True

In [3]:
#104 
x = 4 
print(1 < x < 5)

True

In [4]:
#105
print((3==3)and (4 != 3))

True

In [8]:
#106
#print(3=>4)
#3과 4는 같거나 4보다 크다인데 실제론 같지도않고 크지도않음 
#지원하지않는 연산자

In [11]:
#107 
if 4<3:
    print("Hellow World")
    #조건 만족x,출력x

In [12]:
#108 
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
    #조건을 만족하지 않아 else에서 들여쓰기 된 문장 실행

Hi, there.

In [13]:
#109 
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [14]:
#110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [16]:
#111.입력받은 문자열을 두 번 출력
#안녕하세요
#안녕하세요안녕하세요
user = input("입력:")
print(user*2)

입력:2
22

In [19]:
#112 하나의 숫자를 입력받고,입력 받은 숫자에 10을 더해 출력 
#숫자를 입력하세요: 30
#40
user = input("숫자를 입력하시오")
print(10+int(user))

숫자를 입력하시오11
21

In [21]:
#113_짝수/홀수 
#30 
#짝수 
user = input("")
if int(user)%2 == 0:
    print("짝수")
else:
    print("홀수")

30
짝수

In [4]:
#114_20 더한값 출력 //헷갈림  
user = input("입력값: ")
num = 20 + int(user)
#if num > 255:
    #print(255)
#else:
    #print(num)

입력값: 123

In [6]:
#115_255보다 큰값
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값: 123
103

In [7]:
#116
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 4
정각이 아닙니다.

In [ ]:
#117 좋아하는 과일은?사과 정답 
fruit = ["사과", "포도", "홍시"]
time = input("좋아하는 과일은? ")
if user in"rfuit":
    print("정답 입니다.")
else:
    print("오답이 아닙니다.")

In [ ]:
#118_투자 경고 종목 리스트
#warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

In [ ]:
#119_fruit 딕셔너리
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은:")
if user in fruit:
    print("정답 입니다.")
else:
    print("오답입니다.")

In [ ]:
#120
fruit={"봄":"딸기","여름":"토마토","가을":"사과"}
user = input("좋아하는 과일은?:")
if user in fruit.values():
    print("정답 입니다.")
else:
    print("오답입니다.")

In [6]:
#121 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로,
#대문자 일 경우, 소문자로 변경해서 출력
user = input("")
if  user.islower():
    print(user.upper())
else:
    print(user.lower())

k
K

In [9]:
#122 score를 입력받아 학점 출력 
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 50
grade is C

In [7]:
#123_금액과 통화명 사이에 공백을 넣어 입력//모르겠음.//입력주의 
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [ ]:
#124_사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

In [ ]:
#125_휴대전화번호를 입력받고,통신사를 출력하는 프로그램 작성 
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

In [11]:
#126_사용자로 부터 5자리 우편번호를 입력받고 구를 판별
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 011
강북구

In [ ]:
#127_사용자로부터 13자리의 주민등록번호를 입력 받은 후 
#성별 (남자, 여자)를 출력하는 프로그램을 작성
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

In [ ]:
#128_출생지가 서울인지 아닌지 판단하는 코드
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

In [12]:
#129_다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성
#풀이봐도 진짜모르겠음 이게뭐임?
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:

IndexError: string index out of range

In [14]:
#130_시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 
#그렇지 않은 경우 "하락장" 문자열을 출력
#애도 머리가 하애짐 뭘가요  
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [12]:
#131_for문의 실행결과 예측 
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [16]:
#132_예측2
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [17]:
#133_for문과 동일한 기능을 수행하는 코드 작성 
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [18]:
#134_for문을 풀어 동일한 동작을 하는 코드 작성 
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [19]:
#135_for문을 풀어 동일한 동작을 하는 코드를 작성
#lower검색해보기 
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [20]:
#137_for문 작성 
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [21]:
#138_for문 작성 
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [22]:
#139_for문 작성//파이썬 for문은 반복되는 코드에만 사용 
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [23]:
#140_네 번 반복 출력하는 코드를 작성하는 문제
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [24]:
#141_부가세가 포함된 가격을 for 문,부가세는 10원으로 가정
리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [25]:
#142
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [26]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [27]:
#144
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름, len(이름))

dog 3
cat 3
parrot 6

In [28]:
#145
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0])

d
c
p

In [29]:
#146
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x " + str(변수))

3 x 1
3 x 2
3 x 3

In [30]:
#147
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [31]:
#148 2장복습하기 
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

In [32]:
#149
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

가
다

In [33]:
#150 증감폭을 음수로 설정하면서 끝에서 앞방향으로 슬라이싱 
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
  print(변수)

라
다
나
가

In [16]:
#151_음수 여부를 판단,음수출력//?????
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
         print(변수)

-20
-3

In [36]:
#152_for문을 사용해 3의 배수만을 출력 
#예를들어 '10 % 3`은 10을 3으로 나눈 나머지로 1을 반환
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [37]:
#153_리스트에서 20보다 작은3의배수 출력하기/시간날때 3장복습하기 
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

12
18

In [15]:
#154_세글자 이상의 문자를 화면에 출력 
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >= 3:
    print(변수)

study
python
language

In [39]:
#155 리스트에서 대문자만 화면에 출력 
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [40]:
#156_리스트에서 소문자만 화면에 출력ㅡ논리자 연산자 not 
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if not 변수.isupper():
    print(변수)

b
c

In [41]:
#157_이름의 첫 글자를 대문자로 변경해서 출력,upper메서드는 문자열을 대문자로 변경 
for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

A
B
C
D

In [42]:
#158_파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라.
#힌트:split()메서드
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

In [43]:
#159_확장자가 .h인 파일 이름을 출력
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

In [44]:
#160_확장자.h나 .c인 파일을 화면에 출력
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h

In [46]:
#161.참고) range의 세번 째 파라미터는 증감폭을 결정
for x in range(2002, 2051, 4) :
    print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [45]:
#162
for x in range(2002, 2051, 4) :
    print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [47]:
#163.1부터 30까지의 숫자 중 3의 배수를 출력
for num in range(3, 31, 3):
    print (num)

3
6
9
12
15
18
21
24
27
30

In [48]:
#164.99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [49]:
#165_for문 
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [50]:
#166.구구단 3단을 출력
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [51]:
#167 구구단 3단 출력,홀수만 출력 
num = 3
for i in range(1, 10, 2) :
    print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

In [52]:
#168_1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for문으로 작성 
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [53]:
#169_1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문
hab = 0
for i in range(1, 11, 2):
    hab += i
print ("합 :", hab)

합 : 25

In [54]:
#170 1~10까지의 숫자를 모두 곱한 값을 출력
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [56]:
#171_ for문과 range문을 사용해서 리스트 데이터 출력 
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [57]:
#172
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [58]:
#173
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [59]:
#174
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [63]:
#175_my_list를 아래와 같이 출력,인덱스 연습해보기 
my_list = ["가", "나", "다", "라"]
for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [62]:
#176.
my_list = ["가", "나", "다", "라", "마"]
for i in range( len(my_list) - 2 ):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [64]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [65]:
#178.자신과 우측값과의 차분값을 화면에 출력
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [66]:
#179.종가 데이터의 3일 이동 평균
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list) - 1):
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [69]:
#180.low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])

In [70]:
#181.아래 표에서 하나의 행을 하나의 리스트로,
#총 3개의 리스트를 갖는 이차원 리스트 apart를 정의
#..?
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

In [71]:
#182.총 2개의 리스트를 갖는 이차원 리스트 stock을 정의
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]

In [72]:
#183.stock 이름의 딕셔너리로 표현,
#시가를 key로 저장나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [73]:
#184.아래 표를 stock 이라는 이름의 딕셔너리로 표현하라.날짜를 key로 저장하고,
#나머지 같은 행의 데이터 리스트로 저장해서 value로 저장 

stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [74]:
#185.저장된 데이터를 아래와 같이 출력
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [75]:
#186.
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [76]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [78]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [79]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [80]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
print("-" * 5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [81]:
#191.data에는 매수한 종목들의 OHLC (open/high/low/close) 
#수수료를 0.014 %로 가정할 때,
#각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [83]:
#192. 191번의 출력결과에 행단위로  "----" 구분자 추가
for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [84]:
#193_192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [85]:
#194 이하동문,2차원 배열로 저장
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [86]:
#195.화면에 종가데이터를 출력
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [87]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
#190,310이 나와야한다. 
for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

In [88]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if (row[3] >= row[0]):
        print(row[3])

100
310

In [89]:
#198.변동폭을 volatility 이름의 리스트에 저장하라.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])

In [90]:
#199.종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [92]:
#200.리스트에는 3일 간의 ohlc 데이터가 저장돼 있다.
#시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.
#0
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])