# for문

In [1]:
test_list = ['one', 'two', 'three']

In [2]:
test_list

['one', 'two', 'three']

In [3]:
for i in test_list:
    print(i)

one
two
three

In [4]:
a = [(1,2), (3,4), (5,6)]

In [5]:
a

[(1, 2), (3, 4), (5, 6)]

In [6]:
for (first, last) in a:
    print(first + last)

3
7
11

# if문

In [7]:
money = True

In [8]:
money

True

In [9]:
if money:
    print("택시를 타고 가라")
    
else:
    print("걸어 가라")

택시를 타고 가라

In [10]:
money = True
if money:
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [11]:
x = 3

In [12]:
y = 2

In [13]:
x != y

True

In [14]:
money = 3001

In [15]:
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

돈이 3000원 이상 있거나(조건1) (or)    
카드가 있다면 (조건2) (if문)   
택시를 타고 가고, (True)   
그렇지 않으면 걸어가라. (False) (else문)

In [16]:
money = 2999  #조건1 변수

In [17]:
card = False   #조건2 변수

if 조건1 or 조건2:    
      택시를 타라   
else:    
      걸어가라

In [18]:
money >= 3000

False

In [19]:
card

False

In [20]:
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [21]:
if money >= 3000 or card:
    pass
else:
    print("걸어가라")

걸어가라

In [22]:
pocket = ['paper', 'cellphone']

In [23]:
card = False

In [24]:
'money' in pocket

False

In [25]:
if 'money' in pocket:
     print("택시를 타고가라")
elif card: 
     print("택시를 타고가라")
else:
     print("걸어가라")

걸어가라

In [26]:
if 'money' in pocket:
     print("택시를 타고가라")
elif card: 
     print("택시를 타고가라")
else:
     print("걸어가라")

걸어가라

In [27]:
#score = int(input("점수 입력 :")
score = 100

In [28]:
if score >= 90:
     print("성적은 수 입니다")
elif score >= 80:
     print("성적은 우 입니다")
elif score >= 70:
     print("성적은 미 입니다")
else:
     print("성적은 재시험 입니다")

성적은 수 입니다

In [29]:
score

100

# for문과 if문 함께쓰기

In [30]:
marks = [90, 25, 67, 45, 80]

In [31]:
marks

[90, 25, 67, 45, 80]

In [32]:
for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    if mark >= 60: 
        print("%d" % mark)
        print("합격입니다.")
    else: 
        print("%d" % mark)
        print("불합격입니다.")

90
합격입니다.
25
불합격입니다.
67
합격입니다.
45
불합격입니다.
80
합격입니다.

In [33]:
number = 0   # 학생에게 붙여 줄 번호

for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number + 1
    if mark >= 60: 
        print("%d번 학생은 %d점으로 합격입니다." % (number, mark) )
    else: 
        print("%d번 학생은 %d점으로 불합격입니다." % (number, mark) )

1번 학생은 90점으로 합격입니다.
2번 학생은 25점으로 불합격입니다.
3번 학생은 67점으로 합격입니다.
4번 학생은 45점으로 불합격입니다.
5번 학생은 80점으로 합격입니다.

# contunue 및 range

In [34]:
marks = [90, 25, 67, 45, 80]

number = 0 

for mark in marks: 
    number = number + 1 
    if mark < 60:
        #print(mark)
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [35]:
range(10)

range(0, 10)

In [36]:
add = 0

for i in range(1, 10+1): 
    #print(i)
    add = add + i

print(add)

55

In [37]:
marks = [90, 25, 67, 45, 80, 90, 25, 67, 45, 80, 90, 25, 67, 45, 80, 90, 25, 67, 45, 80]

In [38]:
len(marks)

20

In [39]:
number = 0 

for mark in marks: 
    number = number + 1 
    if mark < 60:
        #print(mark)
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.
6번 학생 축하합니다. 합격입니다.
8번 학생 축하합니다. 합격입니다.
10번 학생 축하합니다. 합격입니다.
11번 학생 축하합니다. 합격입니다.
13번 학생 축하합니다. 합격입니다.
15번 학생 축하합니다. 합격입니다.
16번 학생 축하합니다. 합격입니다.
18번 학생 축하합니다. 합격입니다.
20번 학생 축하합니다. 합격입니다.

In [40]:
range(0, len(marks))

range(0, 20)

In [41]:
#for number in range(0, len(marks)):
for number in range(0, 3):
    print(number)
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

0
1번 학생 축하합니다. 합격입니다.
1
2
3번 학생 축하합니다. 합격입니다.

In [42]:
for i in range(2,10):        # 1번 for문
    print(i)
    #print('')

2
3
4
5
6
7
8
9

In [43]:
for j in range(1, 10):   # 2번 for문
    print(j, end=" ")

1 2 3 4 5 6 7 8 9

In [45]:
for i in range(2,10):        # 1번 for문
    for j in range(1, 10):   # 2번 for문
        print(i*j, end=" ") 
    #print(i)
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

# while문

In [46]:
treeHit = 0

In [47]:
while treeHit < 10:
    print(treeHit)
    
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    
    if treeHit == 10:
        print("나무 넘어갑니다.")

0
나무를 1번 찍었습니다.
1
나무를 2번 찍었습니다.
2
나무를 3번 찍었습니다.
3
나무를 4번 찍었습니다.
4
나무를 5번 찍었습니다.
5
나무를 6번 찍었습니다.
6
나무를 7번 찍었습니다.
7
나무를 8번 찍었습니다.
8
나무를 9번 찍었습니다.
9
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [53]:
##### coffee.py
coffee = 3

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
        print("남은 커피의 양은 %d개 입니다." % coffee)
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
        print("남은 커피의 양은 %d개 입니다." % coffee)
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 3개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [56]:
# 짝수일 경우 예외처리
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: 
        continue
    print(a)

1
3
5
7
9