In [2]:
# 설치한 selenium에서 webdriver를 import
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm
import pymysql

In [7]:
# selenum의 webdriver에 앞서 설치한 chromedirver를 연동한다.
driver = webdriver.Chrome("")

In [8]:
url = 'https://www.wanted.co.kr/wdlist/518?country=kr&job_sort=job.recommend_order&years=-1&selected=873&selected=669&selected=1024&selected=655&selected=899&locations=all'
driver.get(url)
driver.page_source[1:1000]

'html lang="ko-KR" class="ko kr windows chrome blink" style=""><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="cache-control" content="no-store"><meta property="og:type" content="website"><meta property="og:locale" content="ko_KR"><meta property="fb:app_id" content="316787678519888"><meta name="theme-color" content="#fffffe"><meta name="msapplication-TileColor" content="#ffffff"><meta name="msapplication-TileImage" content="//static.wanted.co.kr/favicon/new/144x144.png"><meta name="naver-site-verification" content="ef4f7f8504106401fe915b922514a5b352f59ca2"><meta name="google-site-verification" content="KEXLzgQBOVNqw8uNBWOXYOz2L4vUApbKxqxV6twdkxQ"><title>개발 채용 정보 | 원티드</title><meta property="og:title" content="개발 채용 정보 | 원티드"><meta name="description" content="글로벌 2만 4천 개 회사의 개발 채용 공고, 원티드에서 지금 바로 만나보세요. 신입 취업·경력직 이직은 원티드."><meta property="og:description" content="글로벌 '

In [53]:
# driver.find_element(By.XPATH, value = '//*[@id="__next"]/div[3]/div[2]/ul/li[1]/div/a/div[2]/p').click()

In [54]:
#//*[@id="__next"]/main/div[1]/div/section/header

In [55]:
# elem = driver.find_element(By.XPATH, value ='//*[@id="__next"]/main/div[1]/div/section/header')

In [11]:
# elem.text

'포디리플레이코리아∙경기 성남시∙경력 2-4년\nWeb Front-end Development'

In [12]:
elem.text.split('\n')

['포디리플레이코리아∙경기 성남시∙경력 2-4년', 'Web Front-end Development']

In [13]:
elem.text.split('\n')[0]

'포디리플레이코리아∙경기 성남시∙경력 2-4년'

In [14]:
elem.text.split('\n')[1]

'Web Front-end Development'

In [15]:
elem_a = elem.text.split('\n')[0]

In [148]:
title = []
name = [] 
loc = []
career = []

In [17]:
title.append(elem.text.split('\n')[1])
name.append(elem_a.split('∙')[0])
loc.append(elem_a.split('∙')[1])
career.append(elem_a.split('∙')[2])

In [18]:
print(title)
print(name)
print(loc)
print(career)

['Web Front-end Development']
['포디리플레이코리아']
['경기 성남시']
['경력 2-4년']

In [19]:
elem_a.split('∙')

['포디리플레이코리아', '경기 성남시', '경력 2-4년']

In [20]:
type(elem)

selenium.webdriver.remote.webelement.WebElement

In [21]:
elem_a.split('∙')
print(type(elem))

<class 'selenium.webdriver.remote.webelement.WebElement'>

In [22]:
df = pd.DataFrame()

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df['기업명'] = name
df['채용공고'] = title
df['경력'] = career
df['위치'] = loc

In [25]:
df

         기업명                       채용공고       경력      위치
0  포디리플레이코리아  Web Front-end Development  경력 2-4년  경기 성남시

In [26]:
driver.back()

  0%|                                                                                          | 0/199 [00:00<?, ?it/s]

포지큐브(POSICUBE)∙서울 강남구∙신입-경력 5년
Vision Deep learning 기술 개발

100%|████████████████████████████████████████████████████████████████████████████████| 199/199 [00:20<00:00,  9.95it/s]

In [5]:
#try:
   # driver.find_element(By.XPATH, value = f'//*[@id="__next"]/main/div[1]/div/section/section/article[1]/div/button').click()
#except:
   # driver.back()

In [13]:
#elem= driver.find_element(By.CLASS_NAME, value = 'CompanyTags_CompanyTags__list__KgTBZ')

In [16]:
elem.text

'장비지원\n휴가비\n보너스\n커피·스낵바\n유급휴가\n설립4~9년'

In [ ]:
#혜택및 복지 
#elem='//*[@id="__next"]/main/div[1]/div/section/section/article[1]/div/div[4]'
#time.sleep(5)
#태그
#elem='//*[@id="__next"]/main/div[1]/div/section/section/article[2]'
#time.sleep(5)
#마감일
#elem='//*[@id="__next"]/main/div[1]/div/section/section/article[3]/span'
#time.sleep(5)
#근무지역 
#elem='//*[@id="__next"]/main/div[1]/div/section/section/article[5]/div/div/span'
#time.sleep(5)

In [169]:
#df = pd.DataFrame()
    
#df['기업명'] = name
#df['채용공고'] = title
#df['경력'] = career
#df['위치'] = loc

In [12]:
df

pandas.core.frame.DataFrame

In [24]:
df.to_csv('C:\\alcc\\1.파이썬\\Pflow\\wanted_Selenium.csv', encoding='utf-8')

In [15]:
# DataFrame을 저장할 리스트를 먼저 초기화합니다.
title = []
name = [] 
loc = [] 
career = []
loc2= []
tag=[]
cdate=[]
position=[]

class MyClass:
    def __init__(self):
        self.data = {}

    def _set_item(self, key, value):
        if not isinstance(key, str):
            raise TypeError("Key must be a string")
        if not isinstance(value, str):
            raise TypeError("Value must be a string")
        self.data[key] = value
        # 인스턴스 생성 및 메서드 호출
instance = MyClass()

try:
    instance._set_item('example_key', 'example_value')
    print("Item set successfully")
except Exception as e:
    print(f"Error: {e}")
        
print(title)
print(name)
print(loc)
print(career)
elem_a.split('∙')
df = pd.DataFrame()
    
df['기업명'] = name
df['채용공고'] = title
df['경력'] = career
df['위치'] = loc
df['근무장소']=loc2
df['태그']=tag
df['마감일']=cdate
df['포지션']=position

elem.text.split('\n')
elem.text.split('\n')[0]
elem.text.split('\n')[1]

elem_a = elem.text.split('\n')[0]

title.append(elem.text.split('\n')[1])
name.append(elem_a.split('∙')[0])
loc.append(elem_a.split('∙')[1])
career.append(elem_a.split('∙')[2])
loc.append(elem_a.split('∙')[2])


driver.back()

Item set successfully
[]
[]
[]
[]

NameError: name 'elem_a' is not defined

In [ ]:
# MariaDB 연결
conn = pymysql.connect(host='127.0.0.1', port=3306, user='user', password='user1234', db='dbmaria', charset='utf8')
# 커서 생성
cur = conn.cursor()
# User 테이블 생성 (nameUser에 UNIQUE 제약 추가)
cur.execute('''CREATE TABLE IF NOT EXISTS wanted (
                name VARCHAR(255),
                loc VARCHAR(255),
                career VARCHAR(255),
                title VARCHAR(255),
                position VARCHAR(20000),
                cdate VARCHAR(255),
                tag VARCHAR(255),
                loc2 VARCHAR(255)
            )''')

# # 데이터 프레임의 데이터를 데이터베이스에 삽입
for index, row in df.iterrows():
    cur.execute("""
        INSERT INTO  wanted(
            name,
            loc,
            career,
            title,
            loc2,
            tag,
            cdate,position
        ) VALUES (%s, %s, %s, %s,%s,%s,%s,%s)
    """, (
        row['기업명'],
        row['채용공고'],
        row['경력'],
        row['위치'],
        row['근무장소'],
        row['태그'],
        row['마감일'],
        row['포지션']
        
    ))

# 변경사항 커밋
conn.commit()

# 연결 종료
conn.close()

In [5]:
# elem 변수를 soup 객체에서 추출하는 부분 추가 (예: job_elements)
job_elements = soup.find_all('div', class_='job')  # 클래스 명은 예시

for elem in job_elements:
    elem_text = elem.text.split('\n')
    if len(elem_text) > 1:
        title.append(elem_text[1])
    elem_a = elem_text[0]

    elem_a_parts = elem_a.split('∙')
    if len(elem_a_parts) > 2:
        name.append(elem_a_parts[0])
        loc.append(elem_a_parts[1])
        career.append(elem_a_parts[2])
    elif len(elem_a_parts) > 1:
        name.append(elem_a_parts[0])
        loc.append(elem_a_parts[1])
        career.append('N/A')
    elif len(elem_a_parts) > 0:
        name.append(elem_a_parts[0])
        loc.append('N/A')
        career.append('N/A')
    else:
        name.append('N/A')
        loc.append('N/A')
        career.append('N/A')

    # 추가 데이터를 파싱해서 리스트에 저장하는 부분 필요 (loc2, tag, cdate, position)

    driver.back()

# DataFrame 생성
df = pd.DataFrame()
df['기업명'] = name
df['채용공고'] = title
df['경력'] = career
df['위치'] = loc
df['근무장소'] = loc2
df['태그'] = tag
df['마감일'] = cdate
df['포지션'] = position

# MariaDB 연결
conn = pymysql.connect(host='127.0.0.1', port=3306, user='user', password='user1234', db='dbmaria', charset='utf8')
cur = conn.cursor()

# 테이블 생성
cur.execute('''CREATE TABLE IF NOT EXISTS wanted (
                name VARCHAR(255),
                loc VARCHAR(255),
                career VARCHAR(255),
                title VARCHAR(255),
                position VARCHAR(20000),
                cdate VARCHAR(255),
                tag VARCHAR(255),
                loc2 VARCHAR(255)
            )''')

# 데이터 삽입
for index, row in df.iterrows():
    cur.execute("""
        INSERT INTO wanted (
            name, loc, career, title, loc2, tag, cdate, position
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['기업명'], row['채용공고'], row['경력'], row['위치'], row['근무장소'], row['태그'], row['마감일'], row['포지션']
    ))

# 변경사항 커밋 및 연결 종료
conn.commit()
conn.close()

NameError: name 'soup' is not defined

In [12]:
df=pd.DataFrame

df_unique = df.drop_duplicates(subset=['A'])

TypeError: drop_duplicates() missing 1 required positional argument: 'self'

In [5]:
# MariaDB 연결
#conn = pymysql.connect(host='127.0.0.1', port=3306, user='user', password='user1234', db='dbmaria', charset='utf8')
# 커서 생성
#cur = conn.cursor()
# User 테이블 생성 (nameUser에 UNIQUE 제약 추가)
#cur.execute('''CREATE TABLE IF NOT EXISTS wanted (
              #name VARCHAR(255),
                #loc VARCHAR(255),
                #career VARCHAR(255),
                #title VARCHAR(255),
                #position VARCHAR(20000),
                #cdate VARCHAR(255),
                #tag VARCHAR(255),
                #loc2 VARCHAR(255)
            #)''')

0

In [57]:
df.drop_duplicates()

   기업명                        채용공고        경력      위치
0  바로팜  [200억↑투자] 백엔드 개발자 (Python)  경력 5-15년  서울 강남구

In [8]:
# # 데이터 프레임의 데이터를 데이터베이스에 삽입
#for index, row in df.iterrows():
 #   cur.execute("""
  #      INSERT INTO  wanted(
   #         name,
    #        loc,
     #       career,
      #      title,
       #     loc2,
        #    tag,
         #   cdate,position
       # ) VALUES (%s, %s, %s, %s,%s,%s,%s,%s)
    #""", (
     #   row['기업명'],
     #     row['채용공고'],
     #     row['경력'],
     #     row['위치'],
     #     row['근무장소'],
      #    row['태그'],
      #    row['마감일'],
      #    row['포지션']
        
   #   ))

NameError: name 'cur' is not defined

In [46]:
# 변경사항 커밋
#conn.commit()

# 연결 종료
#conn.close()

In [33]:
#df

pandas.core.frame.DataFrame

In [ ]:
#//*[@id="__next"]/main/div[1]/div/section/header

In [6]:
#//*[@id="__next"]/div[3]/div[2]/ul/li[3]/div/a/div[2]/p

In [14]:
# 설치한 selenium에서 webdriver를 import
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm
import pymysql

# Selenium 웹 드라이버 초기화
driver = webdriver.Chrome()

# 웹 페이지 로드
url = 'https://www.wanted.co.kr/wdlist/518/1634?country=kr&job_sort=job.recommend_order&years=-1&selected=1634&locations=seoul.gangnam-gu&locations=seoul.guro-gu&locations=seoul.geumcheon-gu&locations=seoul.seocho-gu&locations=seoul.songpa-gu'  # 원하는 URL로 변경하세요
driver.get(url)

# 페이지 소스를 가져와서 BeautifulSoup 객체 생성
req = driver.page_source
soup = BeautifulSoup(req, 'html.parser')

# 데이터를 저장할 리스트 초기화
title = []
name = []
loc = []
career = []
loc2 = []  # loc2 리스트 추가
tag = []  # tag 리스트 추가
cdate = []  # cdate 리스트 추가
position = []  # position 리스트 추가

# elem 변수를 soup 객체에서 추출하는 부분 추가 (예: job_elements)
job_elements = soup.find_all('div', class_='job')  # 클래스 명은 예시

for elem in job_elements:
    elem_text = elem.text.split('\n')
    if len(elem_text) > 1:
        title.append(elem_text[1])
    elem_a = elem_text[0]

    elem_a_parts = elem_a.split('∙')
    if len(elem_a_parts) > 2:
        name.append(elem_a_parts[0])
        loc.append(elem_a_parts[1])
        career.append(elem_a_parts[2])
    elif len(elem_a_parts) > 1:
        name.append(elem_a_parts[0])
        loc.append(elem_a_parts[1])
        career.append('N/A')
    elif len(elem_a_parts) > 0:
        name.append(elem_a_parts[0])
        loc.append('N/A')
        career.append('N/A')
    else:
        name.append('N/A')
        loc.append('N/A')
        career.append('N/A')

    # 추가 데이터를 파싱해서 리스트에 저장하는 부분 필요 (loc2, tag, cdate, position)

    driver.back()

# DataFrame 생성
df = pd.DataFrame()
df['기업명'] = name
df['채용공고'] = title
df['경력'] = career
df['위치'] = loc
df['근무장소'] = loc2
df['태그'] = tag
df['마감일'] = cdate
df['포지션'] = position

# MariaDB 연결
conn = pymysql.connect(host='127.0.0.1', port=3306, user='user', password='user1234', db='dbmaria', charset='utf8')
cur = conn.cursor()

# 테이블 생성
cur.execute('''CREATE TABLE IF NOT EXISTS wanted (
                name VARCHAR(255),
                loc VARCHAR(255),
                career VARCHAR(255),
                title VARCHAR(255),
                position VARCHAR(20000),
                cdate VARCHAR(255),
                tag VARCHAR(255),
                loc2 VARCHAR(255)
            )''')

# 데이터 삽입
for index, row in df.iterrows():
    cur.execute("""
        INSERT INTO wanted (
            name, loc, career, title, loc2, tag, cdate, position
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['기업명'], row['채용공고'], row['경력'], row['위치'], row['근무장소'], row['태그'], row['마감일'], row['포지션']
    ))

# 변경사항 커밋 및 연결 종료
conn.commit()
conn.close()