In [2]:
# 설치한 selenium에서 webdriver를 import
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm
import pymysql

In [7]:
# selenum의 webdriver에 앞서 설치한 chromedirver를 연동한다.
driver = webdriver.Chrome("")

In [8]:
url = 'https://www.wanted.co.kr/wdlist/518?country=kr&job_sort=job.recommend_order&years=-1&selected=873&selected=669&selected=1024&selected=655&selected=899&locations=all'
driver.get(url)
driver.page_source[1:1000]

'html lang="ko-KR" class="ko kr windows chrome blink" style=""><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="cache-control" content="no-store"><meta property="og:type" content="website"><meta property="og:locale" content="ko_KR"><meta property="fb:app_id" content="316787678519888"><meta name="theme-color" content="#fffffe"><meta name="msapplication-TileColor" content="#ffffff"><meta name="msapplication-TileImage" content="//static.wanted.co.kr/favicon/new/144x144.png"><meta name="naver-site-verification" content="ef4f7f8504106401fe915b922514a5b352f59ca2"><meta name="google-site-verification" content="KEXLzgQBOVNqw8uNBWOXYOz2L4vUApbKxqxV6twdkxQ"><title>개발 채용 정보 | 원티드</title><meta property="og:title" content="개발 채용 정보 | 원티드"><meta name="description" content="글로벌 2만 4천 개 회사의 개발 채용 공고, 원티드에서 지금 바로 만나보세요. 신입 취업·경력직 이직은 원티드."><meta property="og:description" content="글로벌 '

In [53]:
# driver.find_element(By.XPATH, value = '//*[@id="__next"]/div[3]/div[2]/ul/li[1]/div/a/div[2]/p').click()

In [54]:
#//*[@id="__next"]/main/div[1]/div/section/header

In [55]:
# elem = driver.find_element(By.XPATH, value ='//*[@id="__next"]/main/div[1]/div/section/header')

In [11]:
# elem.text

'포디리플레이코리아∙경기 성남시∙경력 2-4년\nWeb Front-end Development'

In [12]:
elem.text.split('\n')

['포디리플레이코리아∙경기 성남시∙경력 2-4년', 'Web Front-end Development']

In [13]:
elem.text.split('\n')[0]

'포디리플레이코리아∙경기 성남시∙경력 2-4년'

In [14]:
elem.text.split('\n')[1]

'Web Front-end Development'

In [15]:
elem_a = elem.text.split('\n')[0]

In [148]:
title = []
name = [] 
loc = []
career = []

In [17]:
title.append(elem.text.split('\n')[1])
name.append(elem_a.split('∙')[0])
loc.append(elem_a.split('∙')[1])
career.append(elem_a.split('∙')[2])

In [18]:
print(title)
print(name)
print(loc)
print(career)

['Web Front-end Development']
['포디리플레이코리아']
['경기 성남시']
['경력 2-4년']

In [19]:
elem_a.split('∙')

['포디리플레이코리아', '경기 성남시', '경력 2-4년']

In [20]:
type(elem)

selenium.webdriver.remote.webelement.WebElement

In [21]:
elem_a.split('∙')
print(type(elem))

<class 'selenium.webdriver.remote.webelement.WebElement'>

In [22]:
df = pd.DataFrame()

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df['기업명'] = name
df['채용공고'] = title
df['경력'] = career
df['위치'] = loc

In [25]:
df

         기업명                       채용공고       경력      위치
0  포디리플레이코리아  Web Front-end Development  경력 2-4년  경기 성남시

In [26]:
driver.back()

In [28]:
#//*[@id="__next"]/div[3]/div[2]/ul/li[1]/div/a/div[2]/p
#//*[@id="__next"]/div[3]/div[2]/ul/li[1]
title = []
name = [] 
loc = []
career = [] 
loc2=[]
tag=[]
cdate=[]
position=[]

# selenum의 webdriver에 앞서 설치한 chromedirver를 연동한다.
driver = webdriver.Chrome("")
time.sleep(3)
url = 'https://www.wanted.co.kr/wdlist/518/1634?country=kr&job_sort=job.recommend_order&years=-1&selected=1634&locations=seoul.gangnam-gu&locations=seoul.guro-gu&locations=seoul.geumcheon-gu&locations=seoul.seocho-gu&locations=seoul.songpa-gu'
driver.get(url)
time.sleep(3)

for i in tqdm(range(1,200)):
    try:
        driver.find_element(By.XPATH, value = f'//*[@id="__next"]/div[3]/div[2]/ul/li[{i}]/div/a/div[2]').click()
        time.sleep(5)
        elem = driver.find_element(By.XPATH, value = '//*[@id="__next"]/main/div[1]/div/section/header')
        print(elem.text)
        elem_a = elem.text.split('\n')[0]
        title.append(elem.text.split('\n')[1])
        name.append(elem_a.split('∙')[0])
        loc.append(elem_a.split('∙')[1])
        career.append(elem_a.split('∙')[2])
        driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')
        time.sleep(5)
        
        #더보기 버튼 활성화 
        try:
            driver.find_element(By.XPATH, value = f'//*[@id="__next"]/main/div[1]/div/section/section/article[1]/div/button').click()
            time.sleep(5)
            driver.execute_script("window.scrollBy(0, 200);")
        
        #혜택및 복지(포지션)
            elem= driver.find_element(By.XPATH, value = '//*[@id="__next"]/main/div[1]/div/section/section/article[1]/div/div[4]')
            time.sleep(5)
        #태그
            elem = driver.find_element(By.XPATH, value ='//*[@id="__next"]/main/div[1]/div/section/section/article[2]')
            time.sleep(5)
        #마감일
            elem = driver.find_element(By.XPATH, value ='//*[@id="__next"]/main/div[1]/div/section/section/article[3]/span')
            time.sleep(5)
        #근무지역 
            elem = driver.find_element(By.XPATH, value = '//*[@id="__next"]/main/div[1]/div/section/section/article[5]/div/div/span')
            time.sleep(5)
            driver.back()
        
            driver.switch_to.window(driver.window_handles[0])
        except: 
            elem= driver.find_element(By.CLASS_NAME, value = 'CompanyTags_CompanyTags__list__KgTBZ')        
            driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')
            time.sleep(5)
            driver.find_element(By.XPATH, value = f'//*[@id="__next"]/div[3]/div[2]/ul/li[{i}]/div/a/div[2]').click()
            time.sleep(7)
            elem = driver.find_element(By.XPATH, value = '//*[@id="__next"]/main/div[1]/div/section/header')
            print(elem.text)
            elem_a = elem.text.split('\n')[0]
            title.append(elem.text.split('\n')[1])
            name.append(elem_a.split('∙')[0])
            loc.append(elem_a.split('∙')[1])
            career.append(elem_a.split('∙')[2])
            tag.append(elem_a.splt('\n'))

            driver.back()
            time.sleep(7)
    except:
        pass

  0%|                                                                                          | 0/199 [00:00<?, ?it/s]

포지큐브(POSICUBE)∙서울 강남구∙신입-경력 5년
Vision Deep learning 기술 개발

100%|████████████████████████████████████████████████████████████████████████████████| 199/199 [00:20<00:00,  9.67it/s]

In [26]:
df

              기업명                        채용공고        경력      위치
0  포지큐브(POSICUBE)  Vision Deep learning 기술 개발  신입-경력 5년  서울 강남구

In [5]:
#try:
   # driver.find_element(By.XPATH, value = f'//*[@id="__next"]/main/div[1]/div/section/section/article[1]/div/button').click()
#except:
   # driver.back()

In [13]:
#elem= driver.find_element(By.CLASS_NAME, value = 'CompanyTags_CompanyTags__list__KgTBZ')

In [16]:
elem.text

'장비지원\n휴가비\n보너스\n커피·스낵바\n유급휴가\n설립4~9년'

In [ ]:
#혜택및 복지 
#elem='//*[@id="__next"]/main/div[1]/div/section/section/article[1]/div/div[4]'
#time.sleep(5)
#태그
#elem='//*[@id="__next"]/main/div[1]/div/section/section/article[2]'
#time.sleep(5)
#마감일
#elem='//*[@id="__next"]/main/div[1]/div/section/section/article[3]/span'
#time.sleep(5)
#근무지역 
#elem='//*[@id="__next"]/main/div[1]/div/section/section/article[5]/div/div/span'
#time.sleep(5)

In [169]:
#df = pd.DataFrame()
    
#df['기업명'] = name
#df['채용공고'] = title
#df['경력'] = career
#df['위치'] = loc

In [12]:
df

pandas.core.frame.DataFrame

In [24]:
df.to_csv('C:\\alcc\\1.파이썬\\Pflow\\wanted_Selenium.csv', encoding='utf-8')

In [22]:
df

              기업명                        채용공고        경력      위치
0  포지큐브(POSICUBE)  Vision Deep learning 기술 개발  신입-경력 5년  서울 강남구

In [29]:
df=pd.DataFrame

df_unique = df.drop_duplicates(subset=['A'])

TypeError: drop_duplicates() missing 1 required positional argument: 'self'

In [5]:
# MariaDB 연결
#conn = pymysql.connect(host='127.0.0.1', port=3306, user='user', password='user1234', db='dbmaria', charset='utf8')
# 커서 생성
#cur = conn.cursor()
# User 테이블 생성 (nameUser에 UNIQUE 제약 추가)
#cur.execute('''CREATE TABLE IF NOT EXISTS wanted (
              #name VARCHAR(255),
                #loc VARCHAR(255),
                #career VARCHAR(255),
                #title VARCHAR(255),
                #position VARCHAR(20000),
                #cdate VARCHAR(255),
                #tag VARCHAR(255),
                #loc2 VARCHAR(255)
            #)''')

0

In [57]:
df.drop_duplicates()

   기업명                        채용공고        경력      위치
0  바로팜  [200억↑투자] 백엔드 개발자 (Python)  경력 5-15년  서울 강남구

In [30]:
# # 데이터 프레임의 데이터를 데이터베이스에 삽입
for index, row in df.iterrows():
      cur.execute("""
        INSERT INTO  wanted(
            name,
            loc,
          career,
            title,
            loc2,
            tag,
            cdate,position
        ) VALUES (%s, %s, %s, %s,%s,%s,%s,%s)
   """, (
        row['기업명'],
          row['채용공고'],
          row['경력'],
          row['위치'],
          row['근무장소'],
          row['태그'],
          row['마감일'],
          row['포지션']
        
     ))

TypeError: iterrows() missing 1 required positional argument: 'self'

In [46]:
# 변경사항 커밋
#conn.commit()

# 연결 종료
#conn.close()

In [33]:
#df

pandas.core.frame.DataFrame

In [ ]:
#//*[@id="__next"]/main/div[1]/div/section/header

In [ ]:
#//*[@id="__next"]/div[3]/div[2]/ul/li[3]/div/a/div[2]/p